<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg navbar">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Products Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Product Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/commandes}">Commande Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clients}">Client Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/fournisseurs}">Fournisseurs</a>
      </li>
      
    </ul>
  </div>
</nav>
	<div style="width: 84%; margin-left: 8%">
		<h1>New Product</h1>
		<form th:action = "@{/product}" th:object="${product}" method="post">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Designation</label>
		    <input type="text" name = "designation" th:field = "*{designation}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Designation">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Reference</label>
		    <input type="text" name = "reference" th:field = "*{reference}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Reference">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Prix</label>
		    <input type="text" name = "price" th:field = "*{price}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prix">
		  </div>
		  
		  <div class="form-group">
		    <label for="exampleInputPassword1">Email</label>
			<textarea rows="discription" class="form-control" th:field="*{discription}" cols="" placeholder="Discription"></textarea>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Fournisseur</label>
			<select class="form-control" name="fornisseur" th:field="*{fournisseur}">
				<option th:each = "fournisseur: ${fournisseurs}" th:value="${fournisseur.id}" th:text="${fournisseur.name}"></option>
			</select>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>