<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<nav class="navbar navbar-expand-md bg navbar">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Product Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Product Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/clients}">Client Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cammandes}">Commande Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/fournisseurs}">Fournisseurs</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/store}">Store</a>
      </li>
      
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Fournisseurs </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/fournisseur/new}" class = "btn btn-primary btn-sm mb-3 fa fa-add"></a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table">
				<tr>
					<th> name</th>
					<th> email</th>
					<th> phone</th>
					<th> ville</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "fournisseur: ${fournisseurs}">
					<td th:text = "${fournisseur.name}"></td>
					<td th:text = "${fournisseur.email}"></td>
					<td th:text = "${fournisseur.phone}"></td>
					<td th:text = "${fournisseur.ville}"></td>
					<td>
						<a th:href="@{/fournisseur/edite/{id}(id=${fournisseur.id})}"   class = "btn btn-primary fa fa-pencil"></a>
						<a th:href="@{/fournisseur/delete/{id}(id=${fournisseur.id})}" class = "btn btn-danger  fa fa-trash" ></a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>